.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.screen.active {
  opacity: 1;
  visibility: visible;
}

